body{
    background: #f6f6f6f6;
    font-family:  'Lato', sans-serif;
}

header{
    background: black;
color:white;
font-size: 24px;
padding: 20px 0;
display: -webkit-box ;
display:-ms-flexbox ;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;



}
main {
    background: #fff;
}
main .page-title{
    background: #ccc
}
main section {
    background: #fff
}
main aside {
    background: black;
}


